@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
    padding-top: 2.5em;
    background-color: #FFF8EF;
    max-width: 100%;
    overflow-x: hidden;
}

@font-face {
    font-family: PP Eiko;
    src: url('/fonts/eiko/PPEiko-Black.woff2');
}

@font-face {
    font-family: PP Object Sans;
    src: url('/fonts/object-sans/PPObjectSans-Regular.woff2');
}

.eiko{
    font-family: 'PP Eiko';
}

.objectsans{
    font-family: 'PP Object Sans';
}

.border-dashed{
    border-top: dashed #9f9f9f;
    content: none;
}

.footer:has(a.email:hover){
    background-color: #FFF8EF;
    color: #252525;
    transition: 200ms ease-in-out;
}

.footer:has(a.readcv:hover){
    background-color: #111;
    transition: 200ms ease-in-out;
}

.footer:has(a.insta:hover){
    background-color: #dd2a7b;
    transition: 200ms ease-in-out;
}

.img-vert {
    width: 20rem;
    height: 30rem;
    background-position: center;
    background-size: cover;
}

.img-hor {
    width: 30rem;
    height: 20rem;
    background-position: center;
    background-size: cover;
}

.img-head {
    width: 21rem;
    height: 28rem;
    background-position: center;
    background-size: cover;
}