@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
    padding-top: 2.5em;
    background-color: #FFF8EF;
}

@font-face {
    font-family: PP Eiko;
    src: url('../static/fonts/eiko/PPEiko-Black.woff2');
}

@font-face {
    font-family: PP Object Sans;
    src: url('../static/fonts/object-sans/PPObjectSans-Regular.woff2');
}

.text-eiko{
    font-family: 'PP Eiko';
}

.text-objectsans{
    font-family: 'PP Object Sans';
}