@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
    padding-top: 2.5em;
    background-color: #FFF8EF;
}

@font-face {
    font-family: PP Eiko;
    src: url('/fonts/eiko/PPEiko-Black.woff2');
}

@font-face {
    font-family: PP Object Sans;
    src: url('/fonts/object-sans/PPObjectSans-Regular.woff2');
}

.eiko{
    font-family: 'PP Eiko';
}

.objectsans{
    font-family: 'PP Object Sans';
}

.footer:has(a.email:hover){
    background-color: #B91C1C;
    transition: 200ms;
}

.footer:has(a.readcv:hover){
    background-color: #374151;
    transition: 200ms;
}

.footer:has(a.insta:hover){
    background-color:#BE185D;
    transition: 200ms;
}

div.img {
    width: 21rem;
    height: 28rem;
}